*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

h1,h2 {
    text-align: center;
    margin-top:1rem;
}

.main-container{
    min-width: 100vw;
    display:flex;
    justify-content: center;
    margin: 5% auto 0 auto;
    gap: 15%;
}

.player-container, .computer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
}

.choice-img{
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}


p{
    display: inline;
}

.play {
    display:block;
    margin: 2.5% auto 0 auto;
    padding: 1%;
}


.pressed {
    border:1px solid black;
}


